
<!-- Header -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand ml-auto" href="/admin"> 
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtrOM7rMVBmTak9RU2seF5q4E84tkr0hajMg&s" alt="Sport Shop Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                {{!-- <form class="form-inline my-2 my-lg-0 ml-auto">
                    <input class="form-control mr-sm-3 search-bar" type="search" placeholder="Tìm kiếm sản phẩm..." aria-label="Search" style="width: 300px;">
                    <button class="btn btn-search my-2 my-sm-2" type="submit">Tìm kiếm</button>
                </form> --}}

                <!-- Nút Đăng nhập và Giỏ hàng -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/profile" id="login" aria-haspopup="true" aria-expanded="false">
                            <img class="login-icon" src="https://e7.pngegg.com/pngimages/713/762/png-clipart-computer-icons-button-login-image-file-formats-logo-thumbnail.png" alt="Đăng nhập" width="25">
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/order" id="order" aria-haspopup="true" aria-expanded="false">
                            <img class="order-icon" src="https://cdn.pixabay.com/photo/2014/04/02/10/53/shopping-cart-304843_640.png" alt="giỏ hàng" width="25">
                        </a>
                    </li>
                    
                </ul>


            </div>
        </div>
    </nav>
</header>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
